<!-- NAVBAR -->
    <!-- <container class="container-fluid"> -->
     
    <!-- </container> -->

    <div class="jumbotron" id=""style="background-image: url(/images/IMG_0381.jpg);
    background-color:rgba(37, 37, 37, 0.329);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    height: 1100px;
    color: white;">
      <div style="background-color:rgba(37, 37, 37, 0.472); height:600px; border: 5px solid rgba(8, 8, 8, 0.479);margin-top:60px;padding:20px;">
            <h1 class="display-4" style="font-family: 'Michroma', sans-serif;
            font-size:90px; text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
            text-align: center; margin-top:40px;margin-bottom:30px;">BOOTique.com</h1>
            <p class="lead" style="text-align: center;font-size:30px;">Where Bootcamp coders can come together to share their work and develop each other in preparation for their future as professionals.</p>
            <hr class="my-4">
           
            </div>
          </div>

        <div>
          <h1 style="color:rgb(211, 209, 209);font-family: 'Josefin Slab', serif;
          font-size:30px; margin-top:50px;">"The essence of BOOTique is to create a positive environment to share your work with others, giving and receiving constructive feedback.  We were aware when developing BOOTique, the potential to help countless future generations of coders."</h1>
          <h1 style="color:rgb(211, 209, 209);font-family: 'Josefin Slab', serif;
          font-size:35px;margin-top:20px;"> -William Mooney Sloneker (Backend Developer)</h1>

<h1 style="color:rgb(211, 209, 209);font-family: 'Josefin Slab', serif;
font-size:30px; margin-top:50px;">"Having gone through Bootcamp myself, I wish there was a resource as valuable as what BOOTique offers.</h1>
<h1 style="color:rgb(211, 209, 209);font-family: 'Josefin Slab', serif;
font-size:35px;margin-top:20px;margin-bottom:40px;"> -Deyanira Genao (API route specialist)</h1>

        </div>  

<!-- ============================================================================================ -->
<!-- card section -->
<div style="background-image: url(/images/IMG_0383.jpg); background-size: cover;">
<div style="background-color:rgba(11, 0, 167, 0.239);display:flex; flex-direction: row;justify-content: space-around;">
  <div class="col-md-4">
    <div class="card bg" style="height:850px;width: 450px;background-color: rgba(139, 139, 139, 0.603);color:rgb(0, 0, 0);font-size:20px;border: 5px solid rgba(8, 8, 8, 0.657); padding:15px;">
       <img class="card-img-top" style="padding:20px;" src="/images/uplooad.png" alt="Card image cap">
       <div class="card-body">
          <h5 class="card-title border-bottom pb-3" style="font-size: 40px;text-align:center;color:white;">SHARE YOUR PORTFOLIO <a href="#" class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fas fa-share-alt"></i></a></h5>
          <p class="card-text" style="font-size:20px;color:white; text-align:center;">Open a new post with a link to your portfolio for your peers to review.</p>
          <a href="#" class="btn btn-lg btn-info float-right">Submit your work<i class="fas fa-angle-double-right"></i></a>
       </div>
    </div>
 </div>
 <div class="col-md-4">
  <div class="card bg" style="height:850px;width: 450px;background-color: rgba(139, 139, 139, 0.603);color:rgb(0, 0, 0);font-size:20px;border: 5px solid rgba(8, 8, 8, 0.657); padding:15px;">
     <img class="card-img-top" style="padding:20px;"src="/images/36922.png" alt="Card image cap">
     <div class="card-body">
        <h5 class="card-title border-bottom pb-3" style="font-size: 40px;text-align:center;color:white;padding-top:50px;">REVIEW YOUR PEERS<a href="#" class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fas fa-share-alt"></i></a></h5>
        <p class="card-text" style="font-size:20px;color:white; text-align:center;">Review portfolios posted by your peers and offer them your constructive feedback</p>
        <a href="#" class="btn btn-lg btn-info float-right">Review your peers<i class="fas fa-angle-double-right"></i></a>
     </div>
  </div>
</div>
</div>
</div>
  
