<div class="container">
        
    <!-- background with the image -->
    <div
        style="height:1000px; background-image:url(images/IMG_0380.jpg); background-size: cover; background-repeat: no-repeat;">



        <!-- background with transparent color -->
        <div
            style="height: 1000px;width: 100%;z-index:2; background-color: rgba(114, 114, 114, 0.267);margin-top:30px;padding-top:10px;">


            <!-- begining of the form div -->
            <div class="container"
                style="margin-top: 70px; background-color: rgba(59, 59, 59, 0.534);padding-top: 50px;border: 5px solid rgba(8, 8, 8, 0.479);">
                <h1 class="text-center" style="font-family: 'Michroma', sans-serif;
                font-size:45px; color:white;">Sign Up</h1>
                <br>
                <form>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="email-input" style="color:white;">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="jvotto@yahoo.com"
                            required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="password-input" style="color:white;">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password" required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="firstName-input" style="color:white;">First Name</label>
                        <input type="input" class="form-control" id="firstName-input" placeholder="Joseph" required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="lastName-input" style="color:white;">Last Name</label>
                        <input type="input" class="form-control" id="lastName-input" placeholder="Votto" required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="website-input" style="color:white;">Website</label>
                        <input type="input" class="form-control" id="website-input" placeholder="www.yourwebsite.com"
                            required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="github-input" style="color:white;">GitHub</label>
                        <input type="input" class="form-control" id="github-input"
                            placeholder="www.github.com/your-profile" required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="linkedin-input" style="color:white;">LinkedIn</label>
                        <input type="input" class="form-control" id="linkedin-input"
                            placeholder="www.linkedin.com/your-profile" required>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <label for="imageURL-input" style="color:white;">Image</label>
                        <input type="input" class="form-control" id="imageURL-input"
                            placeholder="Link to a picture of yourself" required>
                    </div>
                    <br>
                    <div class="col-lg-8 mx-auto">
                        <button type="submit" class="btn btn-primary col-12" id="submit"
                            style="color:white;">Submit</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <!-- The Modal -->
        <div id="the-modal" class="modal">
            <div class="modal-content align-content-center">
                <h3 class="text-center">Account Created!</h3>
                <h4 class="text-center"><a href="/allposts">Now view some posts</a></h4>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>