
/* NAVBAR */
/* index page styling */
.jumbotron {
  background-image: url(/public/images/IMG_0381.jpg);
  background-color:rgba(37, 37, 37, 0.329);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  height: 900px;
  color: white;

}

#indexcards {

  justify-content: space-evenly;
  /* padding-left: 150px; */
  background-color: aliceblue;
}

#memberlist {

  height: 700px;
  width: 45%;
}


body {

  background-color: rgb(24, 24, 24);
}

.list-group-item {
  line-height: 2.5;
}

/* COMMENT SECTION */
.card-inner{
  margin-left: 4rem;
}




